<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
	<title>
		<%= title %>
	</title>

<body>
	<nav>
		<% if (user) { %>
			<a href="/logout">LOG OUT</a>
			<% } else { %>
				<a href="/auth/google">LOG IN</a>
				<% } %>
					 <a href="/games">GAMES</a> <a href="/players">TEAM ROSTER</a>
	</nav>
	<br>
	<% if (!user) { %>
		<!-- <p>please login to continue</p> -->
		<% } else { %>
			<!-- <p>Hello <%= user.name %>!</p> -->
			<!-- <%= user.email %></p> -->
			<% if (user.avatar) { %>
				<div class="avatar"><img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar"> Hello <%= user.name %>
					<!-- <p>Hello <%= user.name %>!</p> -->
				</div>
				<% } %>
				<% } %>
				
			</head>
			<h1>Dingo Dingers</h1>
<img src="/image/team_bw.png" alt="The Dingoes">

<%- include('./partials/footer') %>
