<%- include('../partials/header') %>


<form id="new-form" action="/games/<%= game._id %>?_method=PATCH" method="POST">
    <label>Date:</label>
    <input type="date" class="form-input" name="date" value="<%= game.date %>">
    <label>Time:</label>
    <input type="time" class="form-input" name="time" value="<%= game.time %>">
    <label>Event:</label>
    <select name="eventType" class="form-input">
        <option value="Win">Win</option>
        <option value="Loss">Loss</option>
        <option value="Tie">Tie</option>
        <option value="Pick Up Game">Pick Up Game</option>
        <option value="Practice">Practice</option>
        <option value="To Be Played">To Be Played</option>
        <option value="Canceled">Canceled</option>
        <option value="Postponed">Postponed</option>
        <option value="Forfeit By Home">Forfeit By Home</option>
        <option value="Forfeit By Visitor">Forfeit By Visitor</option>
        <option value="Meeting">Meeting</option>
        <option value="Party">Party</option>
        <option value="Other">Other</option>
    </select>
    <label>Location:</label>
    <input type="text" class="form-input" name="location" value="<%= game.location %>">
    <label>Final Score:</label>
    <input type="text" class="form-input" name="finalScore" value="<%= game.finalScore %>">
    <label>Players:</label>
    <input type="text" class="form-input" name="players" value="<%= game.players %>">
    <label>Highlights:</label>
    <input type="text" class="form-input" name="highlights" value="<%= game.highlights %>">
        <table id="list">
            <td><a href="/games/<%= game.id %>"> BACK </a></td>
            <td><input type="submit" class="form-input-button" value="UPDATE"></td>
        </table>
        </form>






<%- include('../partials/footer') %>

