<%- include('../partials/header') %>


<table id="list">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Event</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <% games.forEach(g => { %>
            <tr>
                <td> <%= g.date %> </td>
                <td> <%= g.time %> </td>
                <td> <%= g.eventType %> </td>
                <td> <%= g.location %> </td>
                <td><a href="/games/<%= g._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
            
            
            <nav>
                <% if (user) { %>
                    <td> <a href="/games/new" id="Add">+</a></td>
                    <% } %>
                    
                </nav>
            </tbody>
</table>