<%- include('../partials/header') %>

<!-- DETAILS page -->

<section id="show-page">
    <div>Date: </div>
    <div> <%= game.date %> </div>
    <!-- <div>Time: </div>
    <div><%= game.time %> </div> -->
    <div>Event: </div>
    <div> <%= game.eventType %></div>
    <div>Location: </div>
    <div> <%= game.location %></div>
    <div>Final Score: </div>
    <div> <%= game.finalScore %></div>
    <div>Players: </div>
    <div> <%=  %></div>
    <div>Highlights: </div>
    <div> <%= game.highlights %></div>
</section>

    <br>
    <br>
    
 
      <form action="/games/<%= game._id %>?_method=DELETE" method="POST" class="form-input-button" id="new-form">
            <button type="submit">X</button>
        </form> 

        <h2><%= game._id %></h2>

 

<%- include('../partials/footer') %>